*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-image: linear-gradient( aquamarine , lightpink , lightyellow);
  height: 100vh;
  
}

ul{
  list-style-type: none;
}



li{
  font-weight: bolder;
  font-size: 30px;
  float: left;
  margin-left: 250px;
  color: white;
}

li:hover{
  cursor: pointer;
}

.nav{
  background-color: blue;
  width: 100%;
  height: 50px;
}

.table{
  margin-top: 20px;
}

.btn{
  position: relative;
  left: 450px;
  border: 2px solid black;
  border-radius: 4px;
  margin-left: 10px;
}

#std{
  position: relative;
left: -320px;
top: 20px;

}

.label{
  font-size: larger;
  font-weight: bold;
  line-height: 50px;
}

.input{
  border-radius: 5px;

}

.submit{
  border: 2px solid black;
  border-radius: 3px;
  margin-right: 15px;
  padding: 10px;
  position: relative;
  background-color: aqua;
  color: red;
  top: 50px;
}